@font-face {
    font-family: 'TTRoundsNeueLight';
    src:url(font/TT-Rounds-Neue/TTRoundsNeue-Light.woff2) format('woff2'),
        url(/portfolio/font/TT-Rounds-Neue/TTRoundsNeue-Light.woff) format('woff');
        }
        

    * {
        font-family: 'TTRoundsNeueLight', Arial, sans-serif; 
        }

        a{font-family: 'TTRoundsNeueLight', Arial, sans-serif;}