

.about-container h2 {
  text-align: center;
  padding: 60px 0 30px 0;
}

.about-information-container{position: relative;}

.about-block-object-top {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 0px;
  left: 5%;
  background-color: $secondary-color;
}

.about-block-object-bottom {
  position: absolute;
  width: 1%;
  height: 30%;
  bottom: 0px;
  right: 0px;
  background-color: $primary-color;
}

.about-text-container {
  width: 90%;
  margin: auto;
  position: relative;
  column-count: 3;
  column-gap: 50px;
  text-align: justify;
  padding-bottom: 50px;
}

.about-skills-container{background-color: $secondary-color;
height: 20vh;}


.about-skills-icons-container{
        width: 70vw;
        height: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;}

.about-skills-icons-container img{height: 5rem;}


