.banner-grid-container {
  position: relative;
  top: 100px;
  width: 90vw;
margin: 0 auto 0 auto;
}

.banner-image-background {
  width: 100%;
  height: 50%;
  position: absolute; 
  

}






// .banner-grid-container {
//     width: 80%;
//     height: 90vh;
//     margin: 0 auto 0 auto;
//     display: grid;
//     grid-template-columns: 30% 70%;
//   }

// .banner-text-container {position: relative;
// top: 25%;}

// .banner-image-container{position: relative;
// align-self: end;}

// .banner-carousel-container {position: relative;
// z-index: 2;}

// .banner-image-background {position: absolute;
// top: -70%;
// left: 50%;
// width: 55%;
// height: 205%;
// background-color: $primary-color;
// z-index: 1;
// }





