.projects {
  background-color: $background-color;
  position: relative;
  margin-top: 100px;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 80px;
  width: 80vw;
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}

.project-card {
  position: relative;
}

.projects h2 {
  grid-column-start: 1;
  grid-column-end: 8;
}


.card1 {
  grid-column-start: 1;
  grid-column-end: 5;
  z-index: 1;
}

.card1 .background {
  background-color: $secondary-color;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  left: -50px;
  z-index: -1;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.projects-overlapping-cards-container {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  z-index: 1;
}



.card2 .background-block1 {
  background-color: $secondary-color;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 40px;
  right: -50px;
  z-index: -1;
}

.card2 .background-block1{
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.card2 .background-block2{
  background-color: $primary-color;
  position: absolute;
  width: 40%;
  height: 20%;
  right: 100%;
  bottom: 0%;
  z-index: -1;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.project-card:hover .background-block1 {
  width: 130%;

}
.project-card:hover .background-block2 {
  width: 60%;
}

  // flex stretch omhoog en position relative  proberen en breedte van de pagina's klopt ook niet meer. 


.card3 {
  position: relative;
  top: 0%;
  left: -60%;
  z-index: 2;
}





.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  width: 100%;
  background-color: $background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.project-card img {
  width: 100%;
  height: 100%;
}

.project-card:hover .overlay {
  opacity: 0;
}


// Sliders
// -----------------------------------------------

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  overflow: hidden;
}

.slider-text {
  width: 300px;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card1 .slider{
  left: 100%;
}

.project-card:hover .slider {
  width: 400px;
}

.card1:hover .background {
  width: 120%;
}

.card2 .slider {
  right: 100%;
}

.card3 .slider {left: 100%;}

.slider-accent{width: 1rem;
  height: 0px;
background-color: $primary-color;
position: absolute;
bottom: 0;
right: 0;
transition-duration: 0.5s;
transition-timing-function: ease-in;}


.card1:hover .slider-accent {height: 20%;}