*{
margin: 0px;
box-sizing: border-box;
color: white;}


.App {
  text-align: center;
  display: flex; 
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.weather-card {
  margin: 50px;
}
.weather-card-container {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  width: 400px;
  text-align: left;
  padding-left: 5rem;
}

.background-image{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.background-image-overlay{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(transparent,rgb(151,91,111));
  opacity: 0.6;
}



.icon {
  margin-top: 4rem;
  color: white;
  font-size: 6rem;
}

.temperature-main {
  font-size: 3rem;
}


.weather-card-info {
  position: relative;
}

hr {
  border: white solid 1px;
}




/* accordion styling  */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  padding: 30px;
}

.accordion-wrapper {
  margin-top: 0.5em;
  
 
}
.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
 
}
.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.accordion-title {
  font-weight: 600;
  width: 280px;
  cursor: pointer;
  background-color: rgb(151,91,111, 0.5);
  padding: 0.5em 1.5em;
  border: solid 1px white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.accordion-content {
  background-color: rgb(151,91,111, 0.5);
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
}

.accordion-content.open {
  height: auto;
  max-height: 50px;
  display: flex;
  transition: all 500ms ease-out;
  padding-bottom: 5px;
}

/* .accordion-title::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
}
.accordion-title:hover, .accordion-title.open {
  color: white;
}
.accordion-title.open::after {
  content: "";
  border-top: 0;
  border-bottom: 5px solid;
} */