*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  max-height: auto;
}

@font-face {
  font-family: "TTRoundsNeue-Light";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Light.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Light.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Regular";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Regular";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Thin";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Medium.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Medium.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Thin";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Thin.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Thin.woff) format("woff");
}

a {
  font-family: "TTRoundsNeue-Light";
}

p {
  font-family: "TTRoundsNeue-Thin";
  font-size: 1.2rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TTRoundsNeue-Regular", Arial, sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 60px;
}

.about-container h2 {
  padding-bottom: 50px;
}

.banner-container h1 {
  color: #0118bf;
  text-transform: uppercase;
}

.slider-text p:first-child {
  color: #0118bf;
  font-family: "TTRoundsNeue-Regular";
  font-size: 1.4rem;
}

.slider-text p:nth-child(2) {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.about-container p {
  padding-bottom: 2rem;
}

.banner-grid-container {
  position: relative;
  top: 100px;
  width: 90vw;
  margin: 0 auto 0 auto;
}

.banner-image-background {
  width: 100%;
  height: 50%;
  position: absolute;
}

@media (max-width: 576px) {
  nav .navbar-main-links,
  nav .navbar-own-logo {
    display: none;
  }
  .navbar-hamburger-icon {
    position: relative;
    height: 50px;
    width: 50px;
  }
}

nav {
  height: 75px;
  z-index: 1000;
}

.navbar-own-logo {
  position: absolute;
  height: 75px;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-own-logo img {
  height: 1.8rem;
}

.navbar-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 auto 0 auto;
  margin: 0 auto 0 auto;
}

.navbar-main-links {
  height: 100%;
  width: 50%;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-links li {
  list-style-type: none;
  margin: 0;
  padding: 0px 30px 0px 30px;
  display: inline;
}

.navbar-main-links a {
  font-size: 1.6rem;
}

.navbar-main-links a:hover {
  border-bottom: black 3px solid;
  color: black;
}

.navbar-icon-links {
  position: absolute;
  right: 90px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15;
}

.navbar-icon-links img {
  height: 1.8rem;
  padding-left: 20px;
}

.navbar-hamburger-icon {
  position: fixed;
  height: 75px;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
  z-index: 3;
}

.navbar-hamburger-icon img {
  width: 1.6rem;
}

.menu-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu-icon .menu-icon__checkbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}

.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
  top: 0;
}

.menu-icon span:last-of-type {
  bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__checkbox:checked + div span:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__checkbox:checked + div span:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__checkbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__checkbox:checked + div span:last-of-type {
  width: 22px;
}

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}
