*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  max-height: auto;
}

@font-face {
  font-family: "TTRoundsNeue-Light";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Light.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Light.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Regular";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Regular";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Regular.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Thin";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Medium.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Medium.woff) format("woff");
}

@font-face {
  font-family: "TTRoundsNeue-Thin";
  src: url(/font/TT-Rounds-Neue/TTRoundsNeue-Thin.woff2) format("woff2"), url(/font/TT-Rounds-Neue/TTRoundsNeue-Thin.woff) format("woff");
}

a {
  font-family: "TTRoundsNeue-Light";
}

p {
  font-family: "TTRoundsNeue-Thin";
  font-size: 1.2rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TTRoundsNeue-Regular", Arial, sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  padding: 50px 0px 30px 0;
  text-align: center;
}

.banner-container h1 {
  color: #0118bf;
  text-transform: uppercase;
}

.slider-text p:first-child {
  color: #0118bf;
  font-family: "TTRoundsNeue-Regular";
  font-size: 1.4rem;
}

.slider-text p:nth-child(2) {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.about-container p {
  padding-bottom: 2rem;
}

.banner-grid-container {
  width: 85%;
  height: 90vh;
  margin: 0 auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.banner-text-container {
  position: relative;
  top: 25%;
}

.banner-image-container {
  position: relative;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.banner-carousel-container {
  position: relative;
  left: -10%;
  z-index: 2;
}

.banner-image-background {
  position: absolute;
  top: -70%;
  left: 45%;
  width: 55%;
  height: 205%;
  background-color: #ebbd21;
  z-index: 1;
}

.projects {
  background-color: #dbd7ca;
  position: relative;
  margin-top: 100px;
}

.projects-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 80px;
  width: 80vw;
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}

.project-card {
  position: relative;
}

.projects h2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
}

.card1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  z-index: 1;
}

.card1 .background {
  background-color: #0118bf;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  left: -50px;
  z-index: -1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.projects-overlapping-cards-container {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 8;
  -ms-grid-row: 3;
      grid-row-start: 3;
  z-index: 1;
}

.card2 .background-block1 {
  background-color: #0118bf;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 40px;
  right: -50px;
  z-index: -1;
}

.card2 .background-block1 {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.card2 .background-block2 {
  background-color: #ebbd21;
  position: absolute;
  width: 40%;
  height: 20%;
  right: 100%;
  bottom: 0%;
  z-index: -1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.project-card:hover .background-block1 {
  width: 130%;
}

.project-card:hover .background-block2 {
  width: 60%;
}

.card3 {
  position: relative;
  top: 0%;
  left: -60%;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  width: 100%;
  background-color: #dbd7ca;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.project-card img {
  width: 100%;
  height: 100%;
}

.project-card:hover .overlay {
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  background-color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  overflow: hidden;
}

.slider-text {
  width: 300px;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card1 .slider {
  left: 100%;
}

.project-card:hover .slider {
  width: 400px;
}

.card1:hover .background {
  width: 120%;
}

.card2 .slider {
  right: 100%;
}

.card3 .slider {
  left: 100%;
}

.slider-accent {
  width: 1rem;
  height: 0px;
  background-color: #ebbd21;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.card1:hover .slider-accent {
  height: 20%;
}

.about-container h2 {
  text-align: center;
  padding: 60px 0 30px 0;
}

.about-information-container {
  position: relative;
}

.about-block-object-top {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 0px;
  left: 5%;
  background-color: #0118bf;
}

.about-block-object-bottom {
  position: absolute;
  width: 1%;
  height: 30%;
  bottom: 0px;
  right: 0px;
  background-color: #ebbd21;
}

.about-text-container {
  width: 90%;
  margin: auto;
  position: relative;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  text-align: justify;
  padding-bottom: 50px;
}

.about-skills-container {
  background-color: #0118bf;
  height: 20vh;
}

.about-skills-icons-container {
  width: 70vw;
  height: 100%;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-skills-icons-container img {
  height: 5rem;
}

nav {
  height: 75px;
}

.navbar-own-logo {
  position: absolute;
  height: 75px;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-own-logo img {
  height: 1.8rem;
}

.navbar-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 auto 0 auto;
  margin: 0 auto 0 auto;
}

.navbar-main-links {
  height: 100%;
  width: 50%;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-links li {
  list-style-type: none;
  margin: 0;
  padding: 0px 30px 0px 30px;
  display: inline;
}

.navbar-main-links a {
  font-size: 1.6rem;
}

.navbar-main-links a:hover {
  border-bottom: black 3px solid;
  color: black;
}

.navbar-icon-links {
  position: absolute;
  right: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15;
}

.navbar-icon-links img {
  height: 1.8rem;
  padding-left: 20px;
}

.navbar-hamburger-icon {
  position: fixed;
  height: 75px;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
  z-index: 2;
}

.navbar-hamburger-icon img {
  width: 1.6rem;
}
